---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="about" href="/about">About Us</a></li>
    <li><a class="py-3 text-base" id="store" href="/store">Store</a></li>
    <li><a class="py-3 text-base" id="brands" href="/brands">Luxury Brands</a></li>
    <li><a class="py-3 text-base" id="guides" href="/guides">Guides</a></li>
    <li><a class="py-3 text-base" id="reviews" href="/reviews">Customer Reviews</a></li>
    <li><a class="py-3 text-base" id="blog" href="/blog/">Blog</a></li>
    <li><a class="py-3 text-base" id="contact" href="/contact">Contact Us</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
